.career-page{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#667eea,
#764ba2,
#f093fb
);

font-family:Poppins,sans-serif;

}



.career-box{


width:700px;

padding:40px;

border-radius:30px;


background:rgba(255,255,255,.25);

backdrop-filter:blur(15px);

text-align:center;


}



.career-box h1{

color:white;

}



.career-box p{

color:white;

}



.career-buttons{


display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-top:30px;


}



.career-btn{


padding:18px;

border:none;

border-radius:20px;


font-size:16px;

font-weight:600;


cursor:pointer;


color:white;


background:
linear-gradient(
90deg,
#ff9a9e,
#fad0c4
);


transition:.3s;


}



.career-btn:hover{


transform:translateY(-5px);


box-shadow:
0 10px 25px rgba(255,154,158,.5);


}